*.opensdf
python/calculus/lab/20170325/.idea/workspace.xml
Java/FormalLanguages/Homework/Ext01Copy/AFD/.metadata/
Java/FormalLanguages/Homework/Exam/Markov/.idea/description.html
Java/FormalLanguages/Homework/Exam/Markov/.idea/misc.xml
Java/FormalLanguages/Homework/Exam/Markov/.idea/modules.xml
Java/FormalLanguages/Homework/Exam/Markov/.idea/project-template.xml
Java/FormalLanguages/Homework/Exam/Markov/.idea/workspace.xml
Java/FormalLanguages/Homework/Exam/Markov/out/production/Markov/com/company/Markov.class
