<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonLibrary" version="2.4.0" targetFramework="net471" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net471" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net471" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net471" />
</packages>